body{
  background-color: red;
  }
  #Enlargethistext{
  font-size: 120px;
}
#Enlargethistext{
text-transform: uppercase;
}
#Enlargethistext{
font-family: sans-serif;
}
#Image1{
  margin: 20px 20px 20px 20px;
  border: white 20px solid;
  outline: 5px solid black;
  position: fixed;
}
#Image2{
  position: absolute;left: 300px;
  position: absolute;top: 100px;
}
#Image3{
  position: relative;top: 30px;
  position: relative;left: 200px;
}
.Colorthistext{
  color: yellow;
}
